

#custom-post-1 {
max-height: 70px;
    margin: 2vh;
    padding: 0vh;
    border: 0vh
    border-color: #d19494;
    line-height: 70px;
    max-line-height: 70px;
    background: #d19494;

}
#custom-post-1:hover {
	#text-decoration: none;
  	color: #fff;
	background: #fa9e9e;
	border-color: #fa9e9e !important;

}

#custom-post-1 div:hover {
	#text-decoration: none;
  	color: #fff;
	background: #fa9e9e;
	border-color: #fa9e9e;

}

#custom-post-1 div a:hover {
	#text-decoration: none;
  	color: #fff;
	background: #fa9e9e;
	border-color: #fa9e9e;

}




#custom-post-2 {
max-height: 70px;
    margin: 2vh;
    padding: 0vh;
    border: 0vh
    border-color: #d1a694;
    line-height: 70px;
    max-line-height: 70px;
    background: #d1a694;

}
#custom-post-2:hover {
	#text-decoration: none;
  	color: #fff;
	background: #faba9e;
	border-color: #faba9e !important;

}

#custom-post-2 div:hover {
	#text-decoration: none;
  	color: #fff;
	background: #faba9e;
	border-color: #faba9e;

}

#custom-post-2 div a:hover {
	#text-decoration: none;
  	color: #fff;
	background: #faba9e;
	border-color: #faba9e;

}


