

#custom-post-{{{id}}} {
height: 8vh;
max-height: 70px;
    margin: 2vh;
    padding: 0vh;
    border: 0vh
    border-color: {{{firstColor}}};
    line-height: 70px;
    max-line-height: 70px;
    background: {{{firstColor}}};

}
#custom-post-{{{id}}}:hover {
	#text-decoration: none;
  	color: #fff;
	background: {{{color}}};
	border-color: {{{color}}} !important;

}

#custom-post-{{{id}}} div:hover {
	#text-decoration: none;
  	color: #fff;
	background: {{{color}}};
	border-color: {{{color}}};

}

#custom-post-{{{id}}} div a:hover {
	#text-decoration: none;
  	color: #fff;
	background: {{{color}}};
	border-color: {{{color}}};

}


