
<div class="row projectEntry postentry" style = "background-image: url('{{{photo}}}')">
  <div class="col-sm-12">

    <a href="{{{link}}}" class="projRow">{{title}} <span class="clickable"> </span> </a>

    </div>
</div>


