
<div class="row projectEntry postentry" style = "background-image: url('{{{photo}}}')">
  <div class="col-sm-12 text-center" style="max-height: 150px">

    <a href="{{{link}}}" class="projRow">{{title}} <span class="clickable-post"> </span> </a>

    </div>
</div>


